---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home_sections/Hero.astro';
import About from '../components/home_sections/About.astro';
import Up from '../components/Buttons/Up'
import Cases from '../components/home_sections/Cases.astro';
import Contact from '../components/home_sections/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Up client:only />
		<Hero />
		<About />	
		<Cases />
		<Contact />
		<Footer />
	</main>
</Layout>
	
<style is:global>
</style>
