---
  import Header from '../Header'
  import CaseList from '../CaseList'
---

<section class="w-full min-h-screen sm:pt-12 pt-4 bg-dark" id="cases" >

  <Header>
    Cases
  </Header>

  <CaseList client:only/>
  
</section>

<style lang="saas">
</style>
