---
import classNames from 'classnames';
import Header from '../Header'
import ContactItem from '../ContactItem'
---

<section class="w-full min-h-screen sm:pt-12 pt-4 bg-dark" id="contact">
  <Header>Redes</Header>

  <article class="flex sm:items-center sm:min-h-[30rem]">
    <div class={classNames(
      'flex flex-wrap gap-8 container justify-between',
      "mx-auto content",
      'max-w-4xl sm:px-0 px-14'
    )}>
      <div class="flex-1 flex justify-end sm:min-w-[240px] min-w-full">
        <img src="/photo.jpg" alt="Minha foto" class="w-72 rounded-md sm:mx-0 mx-auto" />
      </div>
      <ul title="Redes sociais" class={classNames(
        "flex flex-col flex-1 justify-center gap-2",
        'text-white font-thin sm:text-lg text-base'
      )}>
        <ContactItem
          href="https://www.linkedin.com/in/rondinelibrito/"
          icon="/icons/linkedin.svg"
          primary
        >
          LinkedIn
        </ContactItem>

        <ContactItem 
          href="https://github.com/ronnie018"
          icon="/icons/github.svg"
          primary
        >
          GitHub
        </ContactItem>

        <ContactItem 
          href="https://portfolio-sage-nine-81.vercel.app/"
          icon="/icons/portfolio.svg"
        >
          WebDev Portfolio
        </ContactItem>

        <ContactItem
          href="mailto:rondinelibrt18@gmail.com"
          icon="/icons/email.svg"
          primary
        >
          Email
        </ContactItem>
      </ul>
    </div>
  </article>
</section>

<style lang="saas">
</style>
