---
  const date = new Date().getFullYear();
---

<footer class="w-full min-h-max sm:pt-8 py-4 mx-auto bg-[#00000066]" id="footer">
  <p class="text-white font-thin text-center">© {date} - Rondineli Brito - All rights reserved.</p>
</footer>

<style lang="saas">

</style>
